<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- CONNECTION STRING -->
	<connectionStrings>
		<add name="TechShopConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TechShopDB;Integrated Security=True;
			 MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" 
			 providerName="System.Data.SqlClient" />
	<add name="TechShopDBEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;
		 provider=System.Data.SqlClient;
		 provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=TechShopDB;integrated security=True;
		 multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<!-- APP SETTINGS -->
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- Custom Settings cho TechShop -->
		<add key="SiteName" value="Computer Shop" />
		<add key="AdminEmail" value="admin@computershop.vn" />
		<add key="SupportPhone" value="0704449834" />
		<add key="EnableDebugMode" value="true" />
		<add key="DefaultPageSize" value="12" />
		<add key="ShippingFee" value="30000" />
		<add key="FreeShippingAmount" value="500000" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" maxRequestLength="10240" executionTimeout="3600" />

		<!-- Session Configuration - 60 phút timeout -->
		<sessionState mode="InProc" timeout="60" cookieless="false" />

		<!-- Authentication - Forms Authentication cho MVC -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" defaultUrl="~/Home/Index" timeout="60" slidingExpiration="true" protection="All" />
		</authentication>

		<!-- Authorization - Mặc định cho phép tất cả -->
		<authorization>
			<allow users="*" />
		</authorization>

		<!-- Custom Errors -->
		<customErrors mode="Off" defaultRedirect="~/Error">
			<error statusCode="404" redirect="~/Error/NotFound" />
			<error statusCode="500" redirect="~/Error/ServerError" />
		</customErrors>

		<!-- Globalization - Tiếng Việt -->
		<globalization culture="vi-VN" uiCulture="vi-VN" requestEncoding="utf-8" responseEncoding="utf-8" />

		<!-- Pages -->
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<!-- Allow larger file uploads (10MB) -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="10485760" />
			</requestFiltering>
		</security>

		<!-- Static Content MIME Types -->
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>

		<!-- Error Pages -->
		<httpErrors errorMode="Detailed" />

		<!-- URL Rewrite (nếu cần SEO friendly URLs) -->
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=localhost\SQLEXPRESS;Integrated Security=True;MultipleActiveResultSets=True;" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

</configuration>

<!-- 
════════════════════════════════════════════════════════════
WEB.CONFIG CHO ASP.NET MVC - TECHSHOP
════════════════════════════════════════════════════════════

1. CONNECTION STRING:
   - Name: TechShopConnection (đã đúng)
   - Server: localhost\SQLEXPRESS
   - Database: TechShopDB
   - Authentication: Windows (Integrated Security=True)

2. AUTHENTICATION:
   - Mode: Forms Authentication
   - Login URL: ~/Account/Login
   - Default URL sau login: ~/Home/Index
   - Timeout: 60 phút
   - Sliding Expiration: Tự động gia hạn khi user active

3. SESSION:
   - Mode: InProc (lưu trên RAM server)
   - Timeout: 60 phút
   - Mất khi restart IIS/App Pool

4. FILE UPLOAD:
   - maxRequestLength: 10240 KB = 10 MB (cho form post)
   - maxAllowedContentLength: 10485760 bytes = 10 MB (cho IIS)

5. CUSTOM ERRORS:
   - Mode: Off (development) - Hiện lỗi chi tiết
   - Đổi thành "On" khi deploy production

6. APP SETTINGS MỚI THÊM:
   - SiteName: Tên website
   - AdminEmail: Email admin
   - SupportPhone: SĐT hỗ trợ
   - DefaultPageSize: Số sản phẩm/trang
   - ShippingFee: Phí ship mặc định
   - FreeShippingAmount: Miễn phí ship từ giá trị này

7. ENTITY FRAMEWORK:
   - Version 6.0
   - Provider: SQL Server
   - Connection Factory: SqlConnectionFactory

════════════════════════════════════════════════════════════
-->